<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BetaBlock - {{.Header}}</title>
		<meta charset="utf-8">
		<meta name="description" content="Beta Minecraft revived!">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			html {font-family: "MS PGothic", sans-serif; color-scheme: light dark}
			form input, form select {display: block; margin-bottom: 10px;}
			a {text-decoration: none; padding-right: 10px;}
			hr {border: 1px solid;}
		</style>
	</head>
	<body>
		<div id="nav">
			{{if eq .Username ""}}<a href="/register">Register</a>
			<a href="/login">Login</a>{{else}}
			<a href="/setskin">Set Skin</a>
			<a href="/setcape">Set Cape</a>
			<a href="/setversion">Set Version</a>
			<a href="/changepw">Change Password</a>
			<div style="float: right;">
				{{.Username}}
				<a href="/logout">Logout</a>
			</div>{{end}}
		</div>
		<hr>
		<h1>{{.Header}}</h1>
			{{if .Success}}<h2>Success!</h2>{{end}}
			{{if ne .Error ""}}<h2>{{.Error}}</h2>{{end}}
			{{if eq .Page "register"}}{{template "register" .}}{{end}}
			{{if eq .Page "login"}}{{template "login" .}}{{end}}
			{{if eq .Page "setskin"}}{{template "setskin" .}}{{end}} 
			{{if eq .Page "setcape"}}{{template "setcape" .}}{{end}}
			{{if eq .Page "setversion"}}{{template "setversion" .}}{{end}}
			{{if eq .Page "changepw"}}{{template "changepw" .}}{{end}}
	</body>
</html>
