{{define "about"}}
<div class="panel">
  <p>Betablock is an <a href="https://github.com/patapancakes/betablock" target="_blank">open source</a> rewrite of early Minecraft's online services, supporting versions from 2010 to 2011.</p>
  <p>It follows the <a href="https://minecraft.wiki/w/Java_Edition_version_history#Alpha" target="_blank">original update schedule</a>, but can be configured to use any Alpha or Beta version.</p>
  <p>{{with .Username}}<a href="/download">Download a launcher</a>{{else}}<a href="/register">Register an account</a> and <a href="/download">download a launcher</a>{{end}} to start playing.</p>
</div>
{{end}}
