{{define "login"}}
<form class="panel" action="/login" method="post">
	<label for="username">Username</label>
	<input class="txt" type="text" name="username" id="username" placeholder="Username" minlength="3" maxlength="16" autocomplete="username" required>
	<label for="password">Password</label>
	<input class="txt" type="password" name="password" id="password" placeholder="Password" minlength="6" maxlength="72" autocomplete="current-password" required>
	{{with env "TS_SITE_KEY"}}<div class="cf-turnstile" data-size="flexible" data-sitekey="{{.}}"></div>
	<input class="btn" type="submit" value="Submit">{{end}}
</form>
{{end}}
