<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Betablock - {{.Header}}</title>
		<meta charset="utf-8">
		<meta name="description" content="Beta Minecraft revived!">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/favicon.ico" rel="icon" type="image/x-icon">
		<link href="/assets/style.css" rel="stylesheet" type="text/css">
		{{with env "TS_SITE_KEY"}}<link rel="preconnect" href="https://challenges.cloudflare.com">
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
		<style>
			.cf-turnstile { line-height: 1; border: 1rem solid transparent; margin-bottom: 4rem; overflow: hidden; background: black; }
			.cf-turnstile > div { margin: -2px; }
		</style>{{end}}
	</head>
	<body>
		<header>
			<div class="wrapper meta">
				<span>Minecraft {{rtversion}}</span>
			</div>
			<div class="wrapper">
				<h1>{{.Header}}</h1>
				<div>
					{{with .Username}}
					{{.}}
					<a class="btn" href="/logout">Logout</a>
					{{else}}
					<a class="btn" href="/register">Register</a>
					<a class="btn" href="/login">Login</a>
					{{end}}
				</div>
			</div>
		</header>
		<main>
			<div class="wrapper">
				{{if .Success}}<h2 class="infobar success">Success!</h2>{{end}}
				{{with .Error}}<h2 class="infobar error">{{.}}</h2>{{end}}
				{{if eq .Page "about"}}{{template "about" .}}{{end}}
				{{if eq .Page "download"}}{{template "download" .}}{{end}}
				{{if eq .Page "register"}}{{template "register" .}}{{end}}
				{{if eq .Page "login"}}{{template "login" .}}{{end}}
				{{if eq .Page "setskin"}}{{template "setskin" .}}{{end}}
				{{if eq .Page "setcape"}}{{template "setcape" .}}{{end}}
				{{if eq .Page "setversion"}}{{template "setversion" .}}{{end}}
				{{if eq .Page "changepw"}}{{template "changepw" .}}{{end}}
			</div>
		</main>
		<footer>
			<div class="wrapper">
				<a class="btn" href="/">About</a>
				<a class="btn" href="/download">Get Betablock</a>
				{{with .Username}}
				<a class="btn" href="/setskin">Set Skin</a>
				<a class="btn" href="/setcape">Set Cape</a>
				<a class="btn" href="/setversion">Set Version</a>
				<a class="btn" href="/changepw">Change Password</a>
				{{end}}
			</div>
			<div class="wrapper meta">
				<span>{{usercount}} registered users</span>
			</div>
		</footer>
	</body>
</html>
