<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  Photo Minimal
  A Tumblr theme by William Rainbird - http://william.rainbird.me
  Tweaked for the Minecraft Launcher by Mojang
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Minecraft Update News</title>
<style type="text/css">
body {
    font-family: sans-serif;
    background-color: #222222;
    background-image: url('/assets/bg.gif');
    color: #e0d0d0;
}
a {
    color: #aaaaff;
}
hr {
   border: 0;
   color: #111111;
   background-color: #111111;
   height: 2px;
}
h3 {
    color: #ffffff;
    font-size: 16px;
}
img {
    border:0;
    margin:0;
}
.sidebar {
   padding:10px;
   vertical-align: top;
}
</style>
    <meta http-equiv="x-dns-prefetch-control" content="off"></head>
    <body class="">
<table width="100%" height="100%"><tbody><tr><td style="padding-left: 16px;padding-right: 16px;" height="100%">
<table width="100%"><tbody><tr><td><h1>Minecraft News</h1></td><td align="right"><a href="http://tumblr.com/"><font size="-2" color="#555555">Powered by Tumblr</font></a></td></tr></tbody></table>
    <div class="container">
        <div id="posts">
			{{range .}}
<div style="width:100%; height:16px;"></div>
                    <div class="post text">
                            <h3><a href="#">{{.Title}}</a></h3>
						{{raw .Body}}
                    </div>
			{{end}}
        </div>
     </div>
</td><td width="180px" class="sidebar" valign="top">
<h2>Official links:</h2>
<a href="http://minecraft.net/">Minecraft.net</a><br>
<a href="http://notch.tumblr.com/">Development&nbsp;blog</a><br>
<a href="http://www.facebook.com/minecraft">Minecraft&nbsp;on&nbsp;Facebook</a><br>
<a href="http://jinx.com/minecraft.aspx">Merchandise</a><br>
<h2>Community links:</h2>
<a href="http://minecraftforum.net/">Minecraft&nbsp;Forums</a><br>
<h2>Mojang on Twitter:</h2>
<a href="http://twitter.com/carlmanneh">Carl&nbsp;Manneh</a>&nbsp;(ceo!)<br>
<a href="http://twitter.com/danfrisk">Daniel&nbsp;Frisk</a>&nbsp;(code!)<br>
<a href="http://twitter.com/kappische">Daniel&nbsp;Kaplan</a>&nbsp;(bizdev!)<br>
<a href="http://twitter.com/jahkob">Jakob&nbsp;Porser</a>&nbsp;(code!)<br>
<a href="http://twitter.com/jeb_">Jens&nbsp;Bergensten</a>&nbsp;(code!)<br>
<a href="http://twitter.com/jnkboy">Junkboy</a>&nbsp;(art!)<br>
<a href="http://twitter.com/Notch">Markus&nbsp;Persson</a>&nbsp;(code!)<br>
<a href="http://twitter.com/mollstam">Tobias&nbsp;Mollstam</a>&nbsp;(code!)<br>
</td></tr></tbody></table>
<font size="0" color="#222222" style="display:none;">
    <!-- BEGIN TUMBLR CODE --><iframe src="http://assets.tumblr.com/iframe.html?9&amp;src=http%3A%2F%2Fmcupdate.tumblr.com%2F&amp;lang=en_US&amp;name=mcupdate&amp;brag=0" scrolling="no" width="330" height="25" frameborder="0" style="position:absolute; z-index:1337; top:0px; right:0px; border:0px; background-color:transparent; overflow:hidden;" id="tumblr_controls"></iframe><!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]--><script type="text/javascript">_qoptions={qacct:"p-19UtqE8ngoZbM"};</script><script type="text/javascript" src="/quant.js"></script><noscript><img src="http://pixel.quantserve.com/pixel/p-19UtqE8ngoZbM.gif" style="display:none; border-width:0px; height:1px; width:1px;" alt=""/></noscript><!-- END TUMBLR CODE -->
</font></body></html>
